/*override component.css*/
.pt-page-1 {
	background-color: #ff6476;
	overflow: auto;
}
.pt-page-1 img.autofit_window_bg {
	position: fixed;
	top: 0;
	left: 0;
}
.pt-page-1 img.autofit_window_bgwidth {
	width: 100%;
}
.pt-page-1 img.autofit_window_bgheight {
	height: 100%;
}

.clever {
	position: absolute;
	left:50%;
	top:50%;
	/*background-color: red;*/
	display: block;
	
	text-indent: -2000em;

}
a.question {
	width: 175px;
	height: 45px;
	margin-left: 115px;
	margin-top: -168px;
}

a.step1 {
	width: 360px;
	height: 140px;
	margin-left: -190px;
	margin-top: -25px;
}
a.step2 {
	width: 360px;
	height: 140px;
	margin-left: -190px;
	margin-top: 128px;
}
a.step3 {
	width: 360px;
	height: 140px;
	margin-left: -190px;
	margin-top: 280px;
}
