/*override component.css*/
.pt-page-1 {
	position: relative;
	background: #ff6476 url(../img/bg.jpg) center center no-repeat;
	background-size: cover;
}

.clever {
	position: absolute;
	left:50%;
	top:50%;
	/*background-color: red;*/
	display: block;
	
	text-indent: -2000em;

}
a.question {
	width: 175px;
	height: 45px;
	margin-left: 115px;
	margin-top: -168px;
}

a.step1 {
	width: 360px;
	height: 140px;
	margin-left: -190px;
	margin-top: -25px;
}
a.step2 {
	width: 360px;
	height: 140px;
	margin-left: -190px;
	margin-top: 128px;
}
a.step3 {
	width: 360px;
	height: 140px;
	margin-left: -190px;
	margin-top: 280px;
}
